$black: #333333;
$white: #ffffff;
$blue: #2288dc;
$light-blue: #2288dc80;
$lightest-blue: #00ffff0d;
$green: #0fb390;
$light-green: #0ce20c42;
$gray: #999999;
$light-gray: #cccccc80;
$red: #f61919e8;
$light-red: #f6191980;
