@import 'shared/styles/variables';

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: $lightest-blue;
  backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s linear, opacity 0.4s linear;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
