@import 'shared/styles/variables';

.create-event-button {
  background-color: $blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 1px 4px 1px $gray;

  &:hover &__plus {
    animation-play-state: running;
  }

  &__plus {
    font-size: 28px;
    color: $white;
    animation: animatedPlus 1s linear infinite paused;
  }
}

@keyframes animatedPlus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
