@import 'shared/styles/variables';

.hours-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0 4px;

  &__hour {
    border: 1px solid $light-gray;
    padding: 4px 8px;
    border-radius: 4px;
    transition: border-color 0.1s linear, background-color 0.1s linear;

    &:hover {
      border-color: $gray;
    }

    &.active {
      background-color: $light-gray;
      border-color: $gray;
    }
  }
}
